<footer class="footer">
  <!-- Grid container -->
  <div class="container">
      <form action="#">
          <!--Grid row-->
          <div class="row">
            <!--Grid column-->
            <div class="col-auto mb-4 mb-md-0">
              <p class="pt-2">
                <strong>Sign up for our newsletter</strong>
              </p>
            </div>

            <!--Grid column-->
            <div class="col-md-5 col-12 mb-4 mb-md-0">
              <!-- Email input -->
              <div class="form-outline mb-4">
                <input type="email" id="form5Example25" class="form-control" />
                <label class="form-label" for="form5Example25">Email address</label>
              </div>
            </div>

            <!--Grid column-->
            <div class="col-auto mb-4 mb-md-0">
              <!-- Submit button -->
              <button type="submit" class="btn btn-secondary mb-4">
                Subscribe
              </button>
            </div>
          </div>
      </form>
  </div>

  <!-- Copyright -->
  <div class="footer-license text-center p-3">
      © 2022 <b>MIT License</b>
  </div>
</footer>
