# Cache files
*.ipynb
__pycache__
*.pyc
.idea
*.pickle
cache/
gen/
.pytest_cache

# Test files
*.test.*

# Data and Log Directory
log/
data/landing/
data/success/
data/postgres-data/
*.db

# SSH Public Key
conf/*.pem

# Dot Environment variables file
.env
