Flask==2.0.2
flask_apscheduler==1.12.3
numpy==1.21.5
pandas==1.3.5
psycopg2-binary==2.9.1
python_dateutil==2.8.2
pytz==2021.3
PyYAML==6.0
requests==2.26.0
scikit_learn==1.0.2
scipy==1.7.3
sshtunnel==0.4.0
statsmodels==0.13.1
prophet==1.0.1
sqlalchemy==1.4.32
yaml==0.2.5
python-dateutil==2.8.2
markupsafe==2.1.1
scikit-learn==1.0.2
click==8.1.3