# Core ========================
# ------------------------------------------------
# - WSGI Server that build from pure python code.
waitress==2.1.2

# - WSGI Application, claim it as the most micro-web-framework in Python
Flask==2.2.3
Werkzeug==2.2.3

# - Extension: Schduleer
Flask-APScheduler==1.12.4
apscheduler==3.10.1

# - Extension: Limiter
Flask-Limiter==3.3.0

# - Extendion: Caching
Flask-Caching==2.0.2

# - Extension: DBMS ORM
Flask-SQLAlchemy==3.0.3
sshtunnel==0.4.0
sqlalchemy==2.0.5.post1
psycopg2-binary==2.9.5
asyncpg==0.27.0

flask-login==0.6.2
Flask-Bcrypt==1.0.1
flask-cors==3.0.10

# - Extension: Frontend assets reserve
Flask-Assets==2.0
jsmin==3.0.1
cssmin==0.2.0
lesscpy==0.15.1
pyScss==1.4.0
Pillow==9.3.0

# - Extension: Form
Flask-WTF==1.1.1
WTForms==3.0.1
email-validator==1.3.1

# - Extension: Mail
Flask-Mail==0.9.1

# - Extension: JWT
flask-jwt-extended==4.4.4
pyjwt==2.6.0

# - Extension: Swagger
flasgger==0.9.5

click==8.1.3
cryptography==39.0.2
markupsafe==2.1.2

python_dateutil==2.8.2
# celery==5.2.7
# Redis==4.4.0
more-itertools==9.1.0

# Model for data class management
pydantic==1.10.6
python-dotenv==1.0.0

# Analytic ====================
# ------------------------------------------------
PyYAML==6.0
requests==2.28.2
scipy==1.10.1
statsmodels==0.13.1
prophet
scikit-learn==1.0.2
