<div class="modal-dialog"
     role="document">
    <form id="runPipelineForm">
        <div class="modal-content">
            <!-- Header -->
            <div class="modal-header" id="runPipelineModalLabel">
                <p class="modal-title">
                    <strong>Run Data Pipeline</strong>
                </p>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <!-- Body -->
            <div class="modal-body" id="runPipelineModalDESC">
                <div class="form-group">
                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                </div>
                <div class="form-group">
                    <input type="hidden" name="pipeline_name" id="pipeline_name" value="">
                </div>
                <div class="form-group">
                    <input type="hidden" name="module_run_type" id="module_run_type" value="">
                </div>

                <div class="form-group">
                    <label for="run_date">Run Date</label>
                    <input type="date"
                           name="run_date"
                           id="run_date"
                           class="form-control dates"
                           data-toggle="popover"
                           title="Pipeline Name"
                           data-content="The pipeline name that you want to run." required>
                </div>

                <div class="form-group">
                    <label for="runMode">Run Mode</label>
                    <select id="runMode" class="form-control" name="run_mode">
                        <option selected>Common</option>
                        <option>Rerun</option>
                    </select>
                </div>

                <div class="form-group">
                    <label for="runType">Run Type</label>
                    <select id="runType" class="form-control" name="run_type">
                        <option selected>Background</option>
                        <option>Foreground</option>
                    </select>
                </div>

            </div>

            <!-- Footer -->
            <div class="modal-footer">
                <button type="button"
                        class="btn btn-secondary"
                        data-dismiss="modal">Close</button>
                <button type="submit"
                        id="btn-submit"
                        class="btn btn-warning"
                        data-toggle="tooltip"
                        data-placement="top"
                        title="Start run with this values">Run</button>
            </div>
        </div>
    </form>
</div>