<div class="panel border bg-white">
    <!-- Header -->
    <div class="panel-heading">
        <h3 class="pt-3 font-weight-bold">Join Today</h3>
    </div>

    <!-- Body -->
    <div class="panel-body p-3">

        <form hx-post="{{ url_for('users.register_post') }}"
              hx-trigger="submit"
              hx-target="#userContent"
              hx-swap="InnerHTML">

            {{ form.hidden_tag() }}

            <fieldset class="form-group">
                <legend></legend>
                <div class="form-group">
                    {{ form.username.label(class="form-control-label") }}
                    {% if form.username.errors %}
                        {{ form.username(class="form-control is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.username.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.username(class="form-control") }}
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ form.email.label(class="form-control-label") }}
                    {% if form.email.errors %}
                        {{ form.email(class="form-control is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.email.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.email(class="form-control") }}
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ form.password.label(class="form-control-label") }}
                    {% if form.password.errors %}
                        {{ form.password(class="form-control is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.password.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.password(class="form-control") }}
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ form.confirm_password.label(class="form-control-label") }}
                    {% if form.confirm_password.errors %}
                        {{ form.confirm_password(class="form-control is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.confirm_password.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.confirm_password(class="form-control") }}
                    {% endif %}
                </div>

                {{ form.submit(class="btn btn-primary btn-block btn-info") }}

                <div class="text-center text-muted pt-4 pl-3">
                    <small>
                        Already Have An Account?
                        <a class="ml-2 clickable"
                           href="#"
                           hx-get="{{ url_for('users.login_get') }}"
                           hx-trigger="click"
                           hx-target="#userContent"
                           hx-swap="InnerHTML">
                            Sign In
                        </a>
                    </small>
                </div>

            </fieldset>
        </form>
    </div>
</div>