{% extends "layouts/base.html" %}
{% block additional_css %}
<style>
    .content-post * {
        font-family: 'Space Mono', monospace;
    }
    .blog-post {
        background: #fff;
        margin-bottom: 1rem;
        padding: 1rem 2.5rem;
        border-color: #7D9D9C;
        border-radius: .50rem;
        box-shadow: 0 2px 6px 0 rgb(125 157 156 / 65%), 0 2px 6px 0 rgb(87 111 114 / 54%);
    }
</style>
{% endblock additional_css %}
{% block main_content %}
<div class="content-wrapper">
    <div class="content-post">
        <h1 class="border-bottom"><strong>What is Data Engine?</strong></h1>
        <br>
        <p>This is the RestAPI Data Application Framework that was built by Flask
            and does not use any vendor data framework extension.
            So this application framework is easy to enhance, fix, and deploy on different environment because it less dependencies
            and lightweight of coding which mean you can remove some components of this framework before deployment.
        </p>
        <p>First objective of this framework is data pipeline orchestration in the retail platform,
            but the core engine of this framework can do more than run and monitor data pipeline by requested or scheduler.
        </p>
        <p>This application framework runs on Docker container with AWS ECS service and was requested from AWS Batch or the Platform Web server
            via AWS load balancing service. After that, it will generate and deliver SQL statements to be performed in the AWS RDS,
            PostgreSQL database, for run a data pipeline.
        </p>
        <p>The AWS ECS service is the host for application framework orchestration, so the overhead of resources for running any transformation in data
            pipeline is using only the database engine, but the part of DataFrame transformation use CPU bound (This application framework already implement this function).
        </p>
    </div>
</div>
<br>
{% endblock main_content %}